img {
  padding: 5px;
}

div.layout
{
  text-align: center;
}
div.centre
{
  text-align: left;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.cards
{
  text-align: center;
  height: 256px;
}

button {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}
